<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>thymeleaf</title>
<style>
div.block {
	margin-top: 50px;
}

div.block:nth-child(1) {
	margin-top: 0;
}

.red {
	color: red;
}

.none {
	color: black;
}

.title {
	font-weight: bold;
}

.data {
	margin-left: 20px;
}
</style>
</head>
<body>
	<!-- value -->
	<div class="block">
		<p class=title>value</p>
		<p class="data" th:text="${key1}"></p>
	</div>

	<!-- list -->
	<div class="block">
		<p class=title>list</p>
		<!-- loop -->
		<p th:each="str:${strList}">
			<span class="data" th:text="${str}"></span>
		</p>
	</div>

	<!-- map -->
	<div class="block">
		<p class=title>map</p>
		<p class=title>loop</p>
		<p th:each="mapEntry:${strMap}" class="data">
			<span th:text="${mapEntry.key}"></span>
			<!-- conditional -->
			<span
				th:text="${mapEntry.value}"
				th:class="${mapEntry.value} == 'val2' ? red : none"></span>
		</p>
		<p class=title>get</p>
		<p class="data" th:text="${strMap.get('key3')}"></p>
	</div>
</body>
</html>